body {
  background-color: Azure;
}

#header {
  color: DeepSkyBlue;
  text-align: center;
  font-family: "Lucida Console", monospace;
  font-size: 500%;
  font-weight: 900;
  word-spacing: 5px; 
}

#subheader {
  color: DarkTurquoise;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 350%;
  font-weight: 400;
  word-spacing: 5px;
}

.images {
  display: flex;
  justify-content: space-around;
  border: 5px solid SlateGrey;
  border-radius: 25px;
}

table, td, th {
  border: 5px solid SlateGrey;
  border-radius: 25px;
}
  
 table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 20px;
}

th {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: DeepSkyBlue;
  text-align: center;
  text-decoration: underline;  
}

#earth {
  color: LightGreen;
}

#neptune {
  color: LightBlueSteel;
}

#saturn {
  color: NavajoWhite;
}

#jupiter {
  color: IndianRed;
}
