#myHeader {
  color: #00BFFF;
  text-align: center;
}

#subHeader {
  color: #00CED1;
  text-align: center;
}

.images {
  border-radius: 8px;
}

table {
  color: #FFFFF0;
}

th {
}

.planet {
}

td {
}
