body {
  background-color: #FFFFF0;
}


#myHeader {
  color: #00BFFF;
  text-align: center;
  font-weight: bold;
  background-color: #FFFFF0;
}

#subHeader {
  color: #00CED1;
  text-align: center;
  font-weight: semi-bold;
  background-color: #FFFFF0;
}

.images {
  border-radius: 8px;
}

table {
  background-color: #FFFFF0;
}

th {
}

.planet {
}

td {
}
